//Импорт глобальных настроек переменных и миксинов
@import "global.scss";
//----------------------------------

.about{
	//Начало описания всего и вся документе (about.html)

	.modernized{
		background: url(../images/slide.jpg) no-repeat top;
		height: auto;
		padding: 18px 0px 50px 0px;
	}
	.headline-mini{
		text-align: left;
	}
}

@import "block/about/_about_us.scss";
@import "block/about/_offer.scss";
@import "block/about/_our_staff.scss";
