// Собираем все в кучку
@import "stylesheets/stylesheets.scss";

//импортируем файлы:
@import "block/_header.scss";

.modernized{
  background: url(../images/slide.jpg) no-repeat top;
  height: auto;
  padding: 18px 0px 50px 0px;
}

//основные файлы
@import "block/_header-content.scss";
@import "block/_meter.scss";
@import "block/_welcome.scss";
@import "block/_services.scss";
@import "block/_company-info.scss";

@import "block/_footer.scss";

//end
