// Храним тут миксины и прочие преднастройки
@mixin text-mark{
	.text-mark-green{
		color: #42bdc4;
	}
	.text-mark-black{
		font-weight: bold;
		color: #000;
	}
	.text-mark-grey{
		font-weight: bold;
		color: $darkGrey-color;
	}
}

@mixin content-container{
	.content-container{
		max-width: 1173px;
		width: 100%;
		height: auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0 20px 0 20px;
		margin: 0 auto;
	}
}