.features {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 360px;

  .features-headling{
    margin-top: 75px;
    margin-bottom: 45px;
  }
}

.features_services{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include openSans-regular;

  .features_services-block{
    width: 175px;
    height: 150px;

    .features_services-block-headling{
      font-size: 16px;
      color: $general-color-hover;
    }

    .features_services-block-p{
      font-size: 14px;
    }
  }
}
