.services_list{
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  background-color: $service-bg-grey;

  .services_list-listblock{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
		width: 270px;
    height: 420px;
		box-sizing: border-box;
		padding-top: 20px;
    margin-top: 70px;
		margin-bottom: 70px;
		overflow-y: hidden;

    	h2{
    	  margin-bottom: 20px;
    	  font-size: 36px;
    	  font-weight: 300;
    	  text-align: left;
    	}

    	ul {
    	  li{
    	    position: relative;
    	    display: inline-block;
    	    padding: 0 0 0 25px;
    	    margin: 0 0 16px 0;
    	    font-size: 14px;
   	     	color: $darkGrey-color;
    	      &::before{
    	        @include list-bullet;
          	}
        }
    	} //конец ul
	} //конец list_block

  .services_list-wework{
    display: flex;
    flex-direction: row;
		flex-wrap: wrap;
    justify-content: space-between;
		width: 370px;
	  height: 420px;
		box-sizing: border-box;
		padding-top: 20px;
		margin-top: 70px;
		margin-bottom: 70px;

			h2{
				margin-bottom: 20px;
				font-size: 36px;
				font-weight: 300;
				text-align: left;
			}

				.services_list-wework-block{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
					height: 85%;
					margin-bottom: 70px;

            img{
							width: 170px;
							height: 130px;
              margin-top: 5px;
            }

            .services_list-wework-block-subblock{
							flex-flow: column;
							justify-content: space-between;
							width: 170px;
							height: 45%;

            		p{
            		  margin-top: 20px;
            		  font-size: 14px;
            		  text-align: left;
            		  word-wrap: break-word;
            		}
						} //конец wework_subblock
				} //конец wework_block
	} //конец wework

  .services_list-businessplan{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 270px;
	  height: 420px;
		box-sizing: border-box;
		padding-top: 20px;
		margin-top: 70px;
		margin-bottom: 70px;

			h2{
				margin-bottom: 20px;
				font-size: 36px;
				font-weight: 300;
				text-align: left;
			}

        .services_list-businessplan-block{
					flex-flow: column;
					justify-content: space-between;
          width: 100%;
					height: 160px;

            p{
              margin-top: 20px;
              font-size: 14px;
              text-align: left;
              word-wrap: break-word;
            }

            a{
              @include openSans-regular;
              font-size: 16px;
              color: $darkGreyLink-color;
              transition: $easeIn-2s;
                &:hover{
                  color: $general-color-hover;
                  transition: color $easeIn-2s;
                }
            }
    		} //конец businessplan_block
	 }	//конец businessplan
}	//конец родительского блока
