.services{
  display: flex;
  flex-direction: row;

  .advantages{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
    .general-params{
display: -webkit-flex;
display: -ms-flex;
display: flex;
flex-flow: column wrap;
padding: 0;
      width: 660px;
      height: 175px;
h3{
  display: block;
  margin-top: 0;
  margin-left: 32px;
}

      p{
        display: block;
        width: 450px;
        height: 95px;
        margin-left: 32px;
        margin-top: 17px;
        margin-bottom: 17px;
        font-size: 14px;
        text-align: left;
        overflow: hidden;
      }

      a{
        margin-left: 32px;
      }
    }
  }
