.footer{
	height: 85px;
	display: flex;
	align-items: center;
	background-color: $background-lightGreen;

	.foot-info{

		span{
			font-size: 22px;
			color: $black-color;

				a{
					color: $darkGreyFoot-color;
					transition: color $easeOut-3s;
					&:hover{
						color: $general-color;
						transition: color $easeIn-2s;
					}
				}
		}

				.grey{
					font-size: 14px;
					color: $darkGreyFoot-color;
				}

				span:last-of-type{
					opacity: .5;
				}
	}
}
