//шрифты
@font-face{
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face{
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face{
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

//Вызываем миксины
@include content-container;
@include text-mark;
@include headline;


header{
	background: url(../images/slide.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 18px 0px 50px 0px;

	.custom-container{
		display: flex;
		flex-direction: initial;

	  .logo{
	  	display: block;
		  	img{
		  		max-width: 219px;
		  		width: 100%;
			  	height: auto;
			  }
      }

    	nav{
	    	display: block;
	    	margin-top: 53px;
	    	width: 100%;
	    		ul{
	    			display: inline-flex;
            flex-wrap: wrap;

	    		  li{
		    	  	margin-right: 42px;

			        a{
		    		    @include openSans-regular;
			    	    color: $general-color;
		    		    transition: color $easeOut-3s;
			    	  	&:hover{
		    		  		color: $general-color-hover;
		    		  		transition: color $easeIn-2s;
		    			  }
		    	    }
            }
	        }  //конец ul
      }  //конец nav
  }  //конец custom-container
}  //конец родительского блока
