.meter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: $background-darkGreen;

	.meter-box{
		display: flex;
		align-items: center;
		width: 235px;
		height: 80px;

		.left{
			margin-right: 16px;
				span.qty{
					font:{
						size: 72px;
						weight: 300;
					}
				color: $general-color;
				}
			}

			.right{
				span.description{
					font-size: 14px;
					color: $general-color;
				}
			}
	} //конец meter-box

	.support-info{
		display: flex;
		flex-direction: row;
		align-self: flex-end;
		width: 290px;
		height: 80px;
		margin-top: auto;
		margin-bottom: auto;
		background: $general-color;

			.support-table{
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				width: 75%;

					span:first-of-type{
						width: 50%;
						font:{
							size: 60px;
							weight: 300;
						}
					}

					span:last-of-type{
						width: 35%;
						margin-top: auto;
						margin-bottom: auto;
						font:{
							size: 16px;
							weight: bold;
						}
					}
			} //конец support-table

			.clock-block{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 25%;
				position: relative;
					right: 0;
					top: 0;
					bottom: 0;
				height: auto;
				background: $background-lightGreen;
				transition: $easeIn-2s;
				&:hover{
					filter: brightness(125%);
					transition: $easeIn-2s;
				}

					a.click-here{
						font:{
							size: 14px;
							weight: 450;
						}
						padding: auto;
						transform: rotate(-90deg);
						color: $general-color;
						transition: $easeIn-2s;
					}
			}  //конец clock-block
		}  //конец support-info
}  //конец родительского блока
