
/* Блок Welcome*/
.welcome {
  display: block;
  margin: 65px auto;
  width: 810px;
  height: 212px;
  text-align: center;
  overflow: hidden;
.welcome_headling {
    font-family: 'OpenSans-Light';
    font-weight: 300;
    font-size: 72px; }

&:first-of-type p{
    font-size: 16px;
  }
&:last-of-type p{
    font-size: 14px;
  }
}
